/* css styles */

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px; /* Adjust the height as needed */
}

nav {
    display: none;
}


  
